version: "3"
services:
  db:
    image: postgres:10
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: clinic
    ports:  
      - '5432:5432'
    volumes: 
      - clinic-db:/var/lib/postgresql/data
  server:
    build: 
      context: .
    environment: 
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: clinic
      DB_HOST: db
    depends_on:
      - db
    ports: 
      - 8100:8100
volumes:
  clinic-db:
